.txt-bold {
   font-weight: bold;
}

.now {
   display: flex;
   justify-content: space-around;
   align-items: center;

   &-temp {
      font-size: 3rem;
      font-weight: 400;
   }

   &-dust {
      display: grid;
   }
}
